body {
    box-sizing: border-box;
    section {
        width: 100vw;
        height: 100vh;
        .header-container {
            position: relative;
            max-width: 1280px;
            margin: 0 auto;
            // .header-navbar {
            //     padding: 0;
            // }
            .header-logo {
                position: absolute;
                margin: 0 0 0 10px;
                top: 15px;
        
            }
        
            .lang-button {
                position: absolute;
                top: 15px;
                right: 10px;
            }

            @media screen and (max-width: 720px) {
                .header-logo {
                    margin: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            }
        }        
    }
}


