<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Billing Info</title>
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/signInSignup.css">
    </head>
    <body>
        <div class="container">

            <!-- header -->
            <section class="header-container">
                <div class="header">
                    <div class="background-image">
                        <nav class="header-navbar navbar navbar-light navbar-expand-md justify-content-md-center justify-content-start">
                        
                            <!-- Burger menu icon-->
                            <button class="navbar-toggler mt-5" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <ul id="burger-menu" class="burger-menu">
                                    <li class="burger-line burger-line-one"></li>
                                    <li class="burger-line burger-line-two"></li>
                                    <li class="burger-line burger-line-three"></li>
                                </ul>
                            </button>
                
                            <!-- Navbar links -->
                            <div class="collapse navbar-collapse justify-content-between align-items-center w-100" id="navbarNav">
                                <ul class="navbar-nav mt-md-3 mt-5 mb-md-0 mb-5 mx-auto text-md-center text-left">
                                    <li class="nav-item header-links">
                                        <a class="nav-link" href="/order">order</a> 
                                    </li>
                                    <li class="nav-item header-links">
                                        <a class="nav-link" href="#">menu</a>
                                    </li>
                                    <li class="nav-item header-links">
                                        <a class="nav-link" href="#">location</a> 
                                    </li>
                                    <li class="nav-item header-links">
                                        <a class="nav-link" href="#">about</a> 
                                    </li>
                                </ul>
                                
                            </div>
                        </nav>
                
                        <!-- Chan Kee logo -->
                        <div class="header-logo">
                            <a href="/">
                                <svg width="56px" height="58px" href="#">
                                    <image xlink:href="/img/chan_kee_header_logo.svg" x="0" y="0" width="56px" height="58px"></image>
                                </svg>
                            </a>
                        </div>
                
                        <!-- login button -->
                        <div class="lang-button">
                            <!-- <p>Hi, Name</p> -->
                            <a href="/signin">
                                <svg width="25px" height="25px" href="#">
                                    <image xlink:href="/img/login.svg" x="0" y="0" width="25px" height="25px"></image>
                                </svg>
                            </a>
                            <!-- <button>Chinese</button> -->
                        </div>
                    </div>
                    
                </div>
            </section>  <!-- <-- header-container -->

            <!-- Body contents -->
            <section class="body-section-container">
                <div class="body-main-container">
                    <div class="body-main">
 
                        <!-- red screen for the background -->
                        <div class="red-screen"></div>

                        <!-- Signup form -->
                        <form class="form-signin" action="editBillingInfo" method="POST">
                            <div class="title-container">
                                <h1 class="h3 mb-3 font-weight-normal">Edit Billing Info</h1>
                            </div>
                            <div class="form-spacer">
                                <label for="lastName" class="sr-only">Last name</label>
                                <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last name" required autofocus>
                                
                                <label for="firstName" class="sr-only">first name</label>
                                <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First name" required autofocus>
                            </div>
                            <div class="form-spacer">
                                <label for="street" class="sr-only">street</label>
                                <input type="text" id="street" name="street" class="form-control" placeholder="Apartment, suite, building, etc." required autofocus>
                                
                                <label for="city" class="sr-only">city</label>
                                <input type="text" id="city" name="city" class="form-control" placeholder="City" required autofocus>
                                <div class="row">
                                    <div class="col-3 pr-0">
                                        <label for="state" class="sr-only">state</label>
                                        <input type="text" id="state" name="state" class="form-control my-0" placeholder="State" required autofocus>
                                    </div>
                                    <div class="col-3 px-2">
                                        <label for="zip" class="sr-only">zip</label>
                                        <input type="text" id="zip" name="zip" class="form-control my-0" placeholder="Zip" required autofocus>
                                    </div>
                                    <div class="col-6 pl-0">
                                        <label for="tel" class="sr-only">tel</label>
                                        <input type="tel" id="tel" name="tel" class="form-control my-0" pattern="[0-9]{10}" placeholder="Phone number" required autofocus>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-md btn-warning btn-block submit-button" type="submit">Submit Change</button>
                        </form>
                    </div>
                </div> <!-- <-- body-main-container -->
                
            <!-- Footer -->
            <%- include('./partial-views/_footer') %>

        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <script src="js/scripts.js"></script>
    </body>

</html>