<div class="row footer">
    <div class="col-4 footer-contents">
        <a href="order"><button>ORDER NOW</button></a>
    </div>
    <div class="col-4 footer-contents copyright">
        <p>COPYRIGHT@CHANKEE 2020</p>
    </div>
    <div class="col-4 footer-contents social-icons">
        <div>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
        </div>
    </div>
</div>