<section class="header-container">
    <div class="header">
        <div class="background-image">
            <nav class="header-navbar navbar navbar-light navbar-expand-md justify-content-md-center justify-content-start">
            
                <!-- Burger menu icon-->
                <button class="navbar-toggler mt-5" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <ul id="burger-menu" class="burger-menu">
                        <li class="burger-line burger-line-one"></li>
                        <li class="burger-line burger-line-two"></li>
                        <li class="burger-line burger-line-three"></li>
                    </ul>
                </button>
    
                <!-- Navbar links -->
                <div class="collapse navbar-collapse justify-content-between align-items-center w-100" id="navbarNav">
                    <ul class="navbar-nav mt-md-3 mt-5 mb-md-0 mb-5 mx-auto text-md-center text-left">
                        <li class="nav-item header-links">
                            <a class="nav-link" href="order">order</a> 
                        </li>
                        <li class="nav-item header-links">
                            <a class="nav-link" href="#">menu</a>
                        </li>
                        <li class="nav-item header-links">
                            <a class="nav-link" href="#">location</a> 
                        </li>
                        <li class="nav-item header-links">
                            <a class="nav-link" href="#">about</a> 
                        </li>
                    </ul>
                    
                </div>
            </nav>
    
            <!-- Chan Kee logo -->
            <div class="header-logo">
                <a href="/">
                    <svg width="56px" height="58px" href="#">
                        <image xlink:href="img/chan_kee_header_logo.svg" x="0" y="0" width="56px" height="58px"></image>
                    </svg>
                </a>
            </div>
    
            <!-- login button -->
            <div class="lang-button">
                <!-- <p>Hi, Name</p> -->
                <a href="signin">
                    <svg width="25px" height="25px" href="#">
                        <image xlink:href="img/login.svg" x="0" y="0" width="25px" height="25px"></image>
                    </svg>
                </a>
                <!-- <button>Chinese</button> -->
            </div>
        </div>
        
    </div>
</section>  <!-- <-- header-container -->